body{
    margin: 0;
    padding: 0;
    font-family: arial;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(252, 175, 41), rgb(124, 198, 245));
    background-position: center;
    background-size: cover;
    position: relative;
}

.headerlogo{
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 100px;
    height: 100px;
    border-radius: 300px;
    object-fit: cover;
    
}
.navlinks{
    flex: 1;
    text-align: right;
}

.navlinks ul li{
    list-style: none;
    display: inline-block;
    padding: 8px;
    
}

.navlinks ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    

}
.navlinks ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: rgb(124, 198, 245);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navlinks ul li:hover::after{
    width: 100%;
}

.textbox{
    width: 70%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.textbox{
    transition: 1s;
}

.textbox:hover{
    color: black;
    transition: 1s;
}
.textbox h1{
    font-size: 65px;
    margin: 15px;
}


.textbox p{
    margin: 10px 0 40px;
    font-size: 18px;
    color: white;

}

nav .fa{
    display: none;
}

nav .faboutopen{
    display: none;
}

.aboutname{
    position: absolute;
    transform: translate(20%, 80%);
    color: white;
    font-size: 30px;
    width: 70%;
}

.aboutparagraph{
    color: white;
    position: absolute;
    transform: translate(15%, 30%);
    font-size: 25px;
    width: 60%;
    padding: 10px;
}



@media(max-width: 700px){
    .textbox h1{
        font-size: 20px;
    }
    .navlinks ul li{
        display: block;
    }
    .navlinks{
        position: absolute;
        background: linear-gradient(rgba(252, 175, 41, 0.8), rgba(124, 198, 245, 0.3));
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;

    }
    
    nav .faboutopen{
        display: block;
        color: white;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
        position: absolute;
        right: 40px;
    }

    .navlinks ul{
        padding: 30px;

    }

}


